[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sentry-sdk = "*"
python-dotenv = "*"
boto3 = "*"
django-select2 = "*"
django-storages = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-countries = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
