{% extends "admin/base_site.html" %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block nav-global %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Copy Page</h1>
    <input type="text" value="{{ pk }}" readonly aria-readonly="true" id="pk">
    <button onclick="copyToClipboard()">Copy</button>
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("pk");
            copyText.select();
            {#copy to clipboard#}
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }
    </script>
{% endblock %}