.change-form select.django-select2 {
  width: 20em;
  background:black;
  color:white;

}

body {
  background-color: #333;
  color: #fff;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  background-color: #444;
  color: #fff;
}

.select2-container .select2-selection--single {
  background-color: #555;
  border: 1px solid #666;
}

.select2-container .select2-selection--single .select2-selection__clear {
  color: #ccc;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  background-color: #666;
  border: none;
}

.select2-container .select2-selection--multiple {
  background-color: #555;
  border: 1px solid #666;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #666;
  border: 1px solid #777;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fb5858;
  color: #fff;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
